:root {
    --accent: rgba(202, 251, 255, 0.3);
    --accent-2: rgba(255, 255, 255, 0.1);
    --accent-3: rgba(198, 226, 230, 0.5);
    --accent-4: rgb(55, 75, 100);

    --selected: rgba(199, 253, 255, 0.6);
    --selected-2: rgb(255, 255, 255);

    --title: rgb(204, 235, 242);
}

/* Global */
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;

    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Jetbrains Mono', 'Monocraft';
    font-size: small;
}

/* Background */
.background {
    width: 100%;
    height: 100%;
    position: absolute;

    image-rendering: pixelated;
    object-fit: fill;
}

/* Container */
.container {
    width: 30%;
    height: fit-content;

    padding: 25px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;

    background-color: var(--accent);
    border: 1px solid var(--accent-2);
    border-radius: 25px;
    box-shadow: 0 0 10px var(--accent-3);
    backdrop-filter: blur(25px);
}

.container h3 {
    margin-bottom: 25px;

    text-align: center;
    color: var(--title);
}

.container li {
    margin-left: 15px;
    margin-top: 3px;

    font-weight: 300;
    color: var(--title);
}

.container hr {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -26px;

    margin-top: 20px;
    margin-bottom: 20px;

    color: rgba(0, 0, 50, 0.3);
}

/* Cntainer.Division */
.container .division {
    display: flex;
    flex-direction: column;
}

.container .division a {
    height: 25px;

    margin-top: 5px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(187, 224, 228, 0.5);
    border: 1px solid rgba(87, 104, 106, 0.3);
    border-radius: 10px;

    text-decoration: none;
    color: var(--accent-4);
    font-weight: 450;

    transition: ease 0.1s;
}

.container .division a:hover {
    background-color: var(--selected);
    color: var(--selected-2);
}